# Dependencies
node_modules
pnpm-lock.yaml

# Build output
dist
build

# Logs
logs
*.log

# Coverage reports
coverage

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
